th, td {
    font-size: 18px;
    font-family: cursive;
  }

h1, h2, h3 {
    font-family: cursive;
  }

.member-actions {
    margin-right: 1vw;
    margin-bottom: 5px;
    /* background: #4285F4;
    color: white;
    font-size: 9px; */
    height: auto;
    width: 25%;
}

.member-actions-submit-claim {
    margin-top: 20px;
    width: 10%;
}

.member-actions-my-claims {
    margin-top: 10px;
    width: 10%;
}