<div class="container" style="margin-top: 25px;margin-bottom: 25px;text-align: center;">
    
    <div class="text-center" style="margin-bottom: 25px;">
        <h1 style="color: blueviolet;font-size: xx-large;">Sign up</h1>
    </div>

    <div style="margin-bottom: 25px;">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/signup.png" alt="..." width="100" />
    </div>

<form class="signup-form" [formGroup]="signupForm">
    <mat-form-field class="section-half" appearance="outline">
        <mat-label>First Name</mat-label>
        <input formControlName="memberFirstName" matInput placeholder="Enter first name">
        <mat-error *ngIf="signupForm.get('memberFirstName')?.hasError('required')">First name is required</mat-error>
        <mat-error *ngIf="signupForm.get('memberFirstName')?.hasError('pattern')">Please provide a valid first name</mat-error>
    </mat-form-field>
      &nbsp;
    <mat-form-field class="section-half" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input formControlName="memberLastName" matInput placeholder="Enter email">
        <mat-error *ngIf="signupForm.get('memberLastName')?.hasError('required')">Last name is required</mat-error>
        <mat-error *ngIf="signupForm.get('memberLastName')?.hasError('pattern')">Please provide a valid last name</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="section-full" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input formControlName="memberDOB" matInput [matDatepicker]="picker" [max]="maxDate" readonly>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="signupForm.get('memberDOB')?.hasError('required')">Date of birth is required</mat-error>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="section-full" appearance="outline">
        <mat-label>Email Id</mat-label>
        <input formControlName="memberEmailId" matInput placeholder="Enter email">
        <mat-error *ngIf="signupForm.get('memberEmailId')?.hasError('required')">Email id is required</mat-error>
        <mat-error *ngIf="signupForm.get('memberEmailId')?.hasError('pattern')">Please provide a valid email id</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field class="section-half" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="memberPassword" matInput [type]="showPassword ? 'text' : 'password'" placeholder="Enter pasword">
          <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="signupForm.get('memberPassword')?.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="signupForm.get('memberPassword')?.hasError('minlength')">Password must contain atleast 8 characters</mat-error>
          <mat-error *ngIf="!signupForm.get('memberPassword')?.hasError('minlength') && signupForm.get('memberPassword')?.hasError('pattern')">Password must contain atleast one uppercase, one numeric and one special character</mat-error>
    </mat-form-field>
      &nbsp;
    <mat-form-field class="section-half" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirmPassword" matInput [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm pasword">
        <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">{{showConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">Please provide the password again</mat-error>
        <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('minlength')">Password must contain atleast 8 characters</mat-error>
          <mat-error *ngIf="!signupForm.get('confirmPassword')?.hasError('minlength') && signupForm.get('confirmPassword')?.hasError('pattern')">Password must contain atleast one uppercase, one numeric and one special character</mat-error>
    </mat-form-field>
</form>


<div [align]="'center'" style="margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="memberSignup()">Sign up</button>
</div>

<div class="text-center" style="margin-top: 20px;margin-bottom: 50px;">
    <h4>Already have an account? <a routerLink='/login'>Sign in</a></h4>
</div>


</div>