.toolbar-spacer {
    flex: 1 1 auto;
  }

  h1, h2 {
    font-family: cursive;
  }

.navbar-custom {
    background-color:rgb(97, 9, 179);
    font-family: cursive;
}

/* .mat-raised-button.mat-blue {
    color: white;
    background-color: orangered;
 } To change mat button color   */